.fl {
    float: left
}

.fr {
    float: right;
}

.header {
    height: 60px;
    background-color: #393D49;
}

.layui-body {
    overflow: hidden;
    border-left: 2px solid #1AA094;
    border-top: 4px solid #1AA094;
}
.layui-tab{
    position: absolute;
}
.layui-tab-content{
    position: fixed;
    width: 100%;
    height: 100%;
}
.layui-this-none:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 41px;
    background-color: #009688;
    color: white;
    border-right: 1px solid #e2e2e2;
    border-bottom-color: #fff;
    border-radius: 2px 2px 0 0;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    pointer-events: none
}

.iframe {
    position: absolute;
    right: 0;
    top: 60px;
    bottom: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.layui-show {
    width: 100%;
    height: 100%;
}

.layui-tab-title .layui-this {
    background-color: #1AA094;
    color: #fff;
}
